body {
  background: rgb(0, 0, 0);
}
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #8e17fe;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}
